<ul id="gear-dropdown" class="gear-dropdown hidden">
	<li>
		<ul class="editions">
			<span class="dropdown-subtitle">Edition</span>
			<a href="#"><li>CSS</li></a>
			<a href="#"><li>HTML</li></a>
			<a href="#"><li>JavaScript</li></a>
			<a href="#"><li>Ruby</li></a>
		</ul>
	</li>
	<li>
		<ul class="help">
		<span class="dropdown-subtitle">Help</span>
			<li><a href="#">FAQ</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	</li>
</ul>