/* PHASE 12: Modal */

.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.modal-form {
  position: absolute;
  width: 360px;
  top: 100px;
  z-index: 3;
  background: white;
  border-radius: 5px;
  border: 1px solid black;
  padding: 20px;
  left: calc(50% - 201px);
}

.modal-form h1 {
  font-size: 36px;
  font-weight: 300;
}

.modal-form p {
  margin-bottom: 20px;
}

.modal-close {
  position: absolute;
  cursor: pointer;
  font-size: 36px;
  top: 10px;
  right: 20px;
}

.modal-close:hover { 
  color: red;
}
