<% action = (type == :new) ? users_url : session_url %>
<% button_text = (type == :new) ? "Create user" : "Log in" %>

<form class='form' action="<%= action %>" method="post">
    <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">

    <label for='username'>Username: </label>
    <input id='username' type="text" name="user[username]">

    <label for='password'>Password: </label>
    <input id='password' type="password" name="user[password]">

    <input type="submit" value="<%= button_text %> ">
</form>