<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span class="">Sections</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span class="">Search</span>
			</li>
		</ul>
	</nav>
	<nav class="right-nav">
		<ul>
			<li class="subscribe-now-btn">
				<button>
					<span class="button-text">Subscribe now</span>
				</button>
			</li>
			<li class="log-in-btn">
				<button>
					<span class="button-text">Log in</span>
				</button>
			</li>
			<li class="settings-btn" id="">
				<i class="fa fa-cog"></i>
				<%= render partial: 'shared/gear_dropdown' %>
			</li>
		</ul>
	</nav>
</header>