<div class="masthead">
    <div class="language-nav">
        <ul>
            <li><a class="active" href="#">CSS</a></li>
            <li><a href="#">HTML</a></li>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">Ruby</a></li>
        </ul>
    </div>

    <div class="logo-container">
        <a href="#">
            <img class="logo" src="assets/AA_Times_Logo.png" alt="AA Times Logo">
        </a>
    </div>

    <div class="masthead-links">
        <ul>
            <li>Tuesday, October 18, 2020</li>
            <li>
                <a href="#">
                    <i class="fa fa-newspaper"></i>
                    <span class="masthead-link">Today's paper</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-video"></i>
                    <span class="masthead-link">Video</span>
                </a>
            </li>
            <li>77°F</li>
            <li>AAO <strong>+100%</strong></a></li>
        </ul>
    </div>
</div>