<section id="sections-sidebar" class="sections-sidebar">
    <ul class="">
        <li class="sections-links"><a href="#">World</a></li>
        <li class="dropdown sections-links"><a href="#">San Francisco</a>
            <ul>
                <li class="dropdown-subtitle">San Francisco</li>
                <li class=""><a href="#">Students</a></li>
                <li class=""><a href="#">Teaching Assistants</a></li>
                <li class=""><a href="#">Instructors</a></li>
                <li class=""><a href="#">Career Advisors</a></li>
                <li class=""><a href="#">Cats</a></li>
            </ul>
        </li>
        <li class="sections-links"><a href="#">New York</a></li>
        <li class="dropdown sections-links"><a href="#">Bootcamp Prep</a>
            <ul>
                <li class="dropdown-subtitle">Bootcamp Prep</li>
                <li class=""><a href="#">Students</a></li>
                <li class=""><a href="#">Instructors</a></li>
                <li class=""><a href="#">Cats</a></li>
            </ul>
        </li>
        <li class="sections-links"><a href="#">Jumpstart</a></li>
        <li class="dropdown sections-links"><a href="#">Online</a>
            <ul>
                <li class="dropdown-subtitle">Online</li>
                <li class=""><a href="#">Immersive</a></li>
                <li class=""><a href="#">Bootcamp Prep</a></li>
                <li class=""><a href="#">Cats</a></li>
            </ul>
        </li>
        <li class="sections-links"><a href="#">Marketing</a></li>
        <li class="dropdown sections-links"><a href="#">Sales</a>
            <ul>
                <li class="dropdown-subtitle">Sales</li>
                <li class=""><a href="#">Associates</a></li>
                <li class=""><a href="#">Analytics</a></li>
                <li class=""><a href="#">Cats</a></li>
            </ul>
        </li>
        <li class="sections-links"><a href="#">TalentMatch</a></li>
        <li class="dropdown sections-links"><a href="#">Alumni</a>
            <ul>
                <li class="dropdown-subtitle">Alumni</li>
                <li class=""><a href="#">Students</a></li>
                <li class=""><a href="#">Companies</a></li>
                <li class=""><a href="#">Opinions</a></li>
                <li class=""><a href="#">Cats</a></li>
            </ul>
        </li>
    </ul>
</section>
            