<nav class="sections-nav">
    <ul class="sections-nav-links">
        <li class="sections-link"><a href="#">World</a></li>
        <li class="sections-link"><a href="#">San Francisco</a></li>
        <li class="sections-link"><a href="#">New York</a></li>
        <li class="sections-link"><a href="#">Bootcamp Prep</a></li>
        <li class="sections-link"><a href="#">Jumpstart</a></li>
        <li class="sections-link"><a href="#">Online</a></li>
        <li class="sections-link"><a href="#">Marketing</a></li>
        <li class="sections-link"><a href="#">Sales</a></li>
        <li class="sections-link"><a href="#">TalentMatch</a></li>
        <li class="sections-link"><a href="#">Alumni</a></li>
        <li class="sections-link" id="all-link"><a href="#">All</a></li>   
    </ul>
</nav>